<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDQr8zBp808OcsetK8abjZLu8vzBLOOFv0</string>
	<key>GCM_SENDER_ID</key>
	<string>961431518227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.healthVistaPro</string>
	<key>PROJECT_ID</key>
	<string>healthvistapro-2623f</string>
	<key>STORAGE_BUCKET</key>
	<string>healthvistapro-2623f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:961431518227:ios:9688d60d4d48786bd393e6</string>
</dict>
</plist>